.bin/
.c9/

testresult.*

cucumber/.testresult.links
cucumber/testresult.*
cucumber/test/reports

minitest/.testresult.links
minitest/testresult.*
minitest/test/reports

rspec/.testresult.links
rspec/testresult.*
rspec/spec/reports

spinach/.testresult.links
spinach/testresult.*
spinach/test/reports

